<header class="container bg-danger py-3">
  <nav class="navbar navbar-expand-sm">
    <a style="font-size:30px;color:white;">Animations</a>
  <ul class="navbar-nav ml-3 ">

    <li class="nav-item">
      <a class="nav-link text-white" routerLink="">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="color-change">Color Change</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="slide">Slide</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="keyframes">Keyframes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="slideshows">Slideshows</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="remove">Remove</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="query">Query</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="about">About</a>
    </li>

  </ul>

</nav>
</header>
